table {
  width: 100%;
}

.race-details-container {
  margin: auto;
}

.race-details-section {
  margin: auto;
  padding-top: 10px;
}

.race-results-table {
  margin: auto;
  text-align: center;
}

.name-form-field {
  width: 33%;
}

.country-form-field {
  width: 30%;
}

.age-group-form-field {
  width: 37%;
}

.invalid-input {
  font-size: smaller;
  opacity: 0.3;
}

.mat-table {
  text-align: center;
  overflow: auto;
  max-height: 300px;
}

.mat-cell:first-of-type {
  padding-left: 12px;
}

.mat-header-cell:first-of-type {
  padding-left: 12px;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell:last-of-type {
  padding-right: 0px;
}

.mat-header-cell:last-of-type {
  padding-right: 0px;
}

.mat-column-rank {
  padding-right: 8px;
}

.mat-column-name {
  text-align: left;
}

.mat-column-age-rank {
  min-width: 35px;
}

.mat-column-size {
  min-width: 30px;
}

.mat-column-age-group {
  min-width: 60px;
  padding-left: 10px;
}

.mat-column-finish {
  /* min-width: 60px; */
  /* padding-left: 10px; */
  text-align: left;
  min-width: 30px;
}

.race-result-detail {
  text-align: center;
  width: 100%;
}

.race-result-detail tr {
  border-bottom: 1px solid gray;
}

.race-result-detail td, .race-result-detail th {
  padding: 0.4em;
  font-size: medium;
  text-align: center;
  overflow: hidden;
}

.expanded-race-row td {
  border-bottom-width: 0;
}

.expanded-race-data {
  overflow: hidden;
  display: flex;
}

tr.expanded-race-detail {
  height: 0;
}

tr.expanded-race-row:not(.race-expanded-row):hover {
  background: whitesmoke;
}

tr.expanded-race-row:not(.race-expanded-row):active {
  background: #efefef;
}