table {
  width: 100%;
}

.race-details-container {
  position: relative;
  overflow: auto;
}

.race-date-location {
  font-weight: lighter;
}

.race-details-section {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
  margin-bottom: 40px;
}

.race-details-summary {
  width: 38%;
  margin-left: 6%;
  padding-top: 3%;
  position: relative;
  float: left;
}

.race-details-summary h2 {
  margin-bottom: 0;
}

.race-details-summary p {
  margin-top: 0;
}

.race-elevation-plot {
  height: 60px;
  width: 250px;
  margin-left: 0%;
}

.race-participants-plot {
  margin-left: 45%;
  margin-top: 5%;
  width: 500px;
  height: 180px;
  line-height: 32px;
}

.race-details-results {
  margin: auto;
  padding: 7px;
  width: 80%;
}

.score-table-container {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.mat-table {
  text-align: left;
  overflow: auto;
  max-height: 300px;
}

.mat-column-overall-rank,
.mat-column-size,
.mat-column-age-rank {
  max-width: 20px;
}

.mat-column-name {
  max-width: 150px;
  text-overflow: ellipsis;
}

.mat-column-country,
.mat-column-age-group,
.mat-column-finish {
  max-width: 50px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  border: 1px;
}

.invalid-input {
  font-size: smaller;
  opacity: 0.3;
}

.rated-athlete {
  text-decoration: none !important;
  font-weight: bold;
  display: inline-block;
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  color: #b4b0b0
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.total-detail {
  height: 18px;
  width: 80%;
  margin: 0px auto 4px;
}

.of-total-detail {
  font-weight: lighter;
  font-size: 0.75em;
  height: 11px;
  color: #7c807bd9;
  margin: 0px auto;
}

.race-result-detail {
  text-align: center;
  width: 100%;
}

.race-result-detail tr {
  border-bottom: 1px solid gray;
}

.race-result-detail td, .race-result-detail th {
  padding: 0.4em;
  font-size: medium;
  text-align: center;
  overflow: hidden;
}

.name-form-field {
  width: 44%;
}

.country-form-field {
  width: 36%;
}

.age-group-form-field {
  width: 20%;
}

.invalid-input {
  font-size: smaller;
  opacity: 0.3;
}
