table {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.race-details-container {
  /* width: 922px; */
  margin: auto;
}

.score-table-container {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.mat-table {
  text-align: left;
  overflow: auto;
  max-height: 300px;
}

.mat-column-rank {
  max-width: 10px;
}

.mat-column-group {
  width: auto;
  max-width: 60px;
}

.mat-column-name {
  max-width: 150px;
  text-overflow: ellipsis;
}

.mat-column-country {
  max-width: 50px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  border: 1px;
}

.invalid-input {
  font-size: smaller;
  opacity: 0.3;
}

.rated-athlete {
  text-decoration: none !important;
  font-weight: bold;
  display: inline-block;
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.total-detail {
  height: 18px;
  width: 80%;
  margin: 0px auto 4px;
}

.of-total-detail {
  font-weight: lighter;
  font-size: 0.75em;
  height: 11px;
  color: #7c807bd9;
  /* width: 75%; */
  margin: 0px auto;
}

.race-result-detail {
  text-align: center;
  width: 100%;
}

.race-result-detail tr {
  border-bottom: 1px solid gray;
}

.race-result-detail td, .race-result-detail th {
  padding: 0.4em;
  font-size: medium;
  text-align: center;
  overflow: hidden;
}