# Project folders
tmp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
bazel-*
node_modules
__pycache__
.ipynb_checkpoints
.idea
dist

# System Files
.DS_Store
Thumbs.db
