<div *ngIf="athlete$ | async as athlete" class="athlete-details-container">
    <div class="athlete-details-section">
        <div class="athlete-details-summary">
            <h2 [ngStyle]="getScoreStyle(athlete.rating)">
                <span
                    [ngStyle]="getFirstLetterStyle(athlete.rating)">{{athlete.name.substr(0, 1)}}</span>{{athlete.name.substr(1)}}
            </h2>

            <ul>
                <li>{{getCountryFlag(athlete.country)}}{{athlete.country}} {{athlete.group}}</li>
                <li>Score: {{athlete.rating}}</li>
                <li>Races: {{athlete.races}}</li>
                <li>Rank: #{{athlete.rank}}</li>
            </ul>
        </div>
        <div class="athlete-details-plot">
            <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="plotData"
                [autoScale]="autoScale" [gradient]="gradient" [rangeFillOpacity]="0.1">

                <!-- <ng-template #tooltipTemplate let-model="model">
                    <div style="text-align: left;">
                        <ul>
                            <li>{{model.extra.race}}</li>
                            <li>{{model.name | date:'mediumDate'}}</li>
                            <li>Group: {{model.extra.group}}</li>
                            <li>Size: {{model.extra.size}}</li>
                            <li>Seed: {{model.extra.seed | number:'1.1-1'}}</li>
                            <li>Rank: {{model.extra.rank | number:'1.1-1'}}</li>
                            <li>Delta: {{model.extra.delta}}</li>
                        </ul>
                    </div>
                </ng-template> -->

                <ng-template #seriesTooltipTemplate let-model="model">
                    <div *ngFor="let item of model" style="text-align: left;">
                        <p>{{item.extra.race}}</p>
                        <ul>
                            <li>{{item.name | date:'mediumDate'}}</li>
                            <li>Group: {{item.extra.group}}</li>
                            <li>Size: {{item.extra.size}}</li>
                            <li>Seed: {{item.extra.seed | number:'1.1-1'}}</li>
                            <li>Rank: {{item.extra.rank | number:'1.1-1'}}</li>
                            <li>Delta: {{item.extra.delta}}</li>
                        </ul>
                    </div>
                </ng-template>
            </ngx-charts-line-chart>
        </div>
    </div>

    <table class="athlete-history-table">
        <th>#</th>
        <th>date</th>
        <th>name</th>
        <th>type</th>
        <th>swim</th>
        <th>bike</th>
        <th>run</th>
        <th>finish</th>
        <th>group</th>
        <th>size</th>
        <th>seed</th>
        <th>rank</th>
        <th>delta</th>
        <th>rating</th>
        <tr *ngFor="let race of athlete.history.slice().reverse()" class="history-table-row">
            <td>{{ race.index + 1 }}</td>
            <td>{{ race.date | date:'mediumDate'}}</td>
            <td>{{ race.name }}</td>
            <td>{{ race.type }}</td>
            <td>{{ race.splits.swim * 1000 | date:'H:mm:ss':'UTC'}}</td>
            <td>{{ race.splits.bike * 1000 | date:'H:mm:ss':'UTC'}}</td>
            <td>{{ race.splits.run * 1000 | date:'H:mm:ss':'UTC'}}</td>
            <td>{{ race.finish * 1000 | date:'H:mm:ss':'UTC'}}</td>
            <td>{{ race.group }}</td>
            <td>{{ race.size }}</td>
            <td>{{ race.seed | number:'1.1-1'}}</td>
            <td>{{ race.rank | number:'1.1-1'}}</td>
            <td [ngClass]="{
                  'score-increase' : race.rating_delta >= 0,
                  'score-decrease' : race.rating_delta < 0
               }">{{race.rating_delta > 0 ? '+' : ''}}{{ race.rating_delta }}</td>
            <td>{{ race.rating_after }}</td>
        </tr>
    </table>
</div>