
table {
  width: 100%;
}

.rating-container {
  margin: auto;
}

.score-table-container {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}


.mat-header-cell {
  flex-direction: column;
  justify-content: right;
}

.mat-table {
  text-align: left;
  overflow: auto;
  max-height: 300px;
}

.mat-column-rank {
  width: auto;
  max-width: 30px;
  overflow: auto;
}

.mat-column-name {
  max-width: 150px;
  text-overflow: ellipsis;
}

.mat-column-races,
.mat-column-score {
  max-width: 50px;
}

.mat-column-country {
  min-width: 50px;
  margin: 0px !important;
  /* display: inline !important; */
  /* text-overflow: ellipsis; */
}

.mat-column-age-group {
  min-width: 45px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  border: 1px;
}

.name-form-field {
  width: 45%;
}

.country-form-field {
  width: 35%;
}

.age-group-form-field {
  width: 20%;
}

.invalid-input {
  font-size: smaller;
  opacity: 0.3;
}

.athlete-history-table {
  text-align: left;
  width: 100%;
}

.athlete-history-table tr:nth-child(2n+1) {background: #e8eaeb;}
.athlete-history-table th {background: #bfc2c4;}

.athlete-history-table td, .athlete-history-table th {
  border-width: 0px;
  padding: 0.4em;
  font-size: 0.9em;
  text-align: left;
  overflow: hidden;
}

.history-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
  border: 1px solid black;
}

.score-increase {
  color: green;
}

.score-decrease {
  color: red;
}

.rated-athlete {
  text-decoration: none !important;
  font-weight: bold;
  display: inline-block;
}

.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
