<div class="rating-container mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults" [color]="'warn'"></mat-spinner>
    <div class="api-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached.
    </div>
  </div>

  <div class="score-table-container">
    <form class="filters-form">
      <mat-form-field class="name-form-field">
        <mat-label class="search-label">Name</mat-label>

        <input matInput name="name" placeholder="Input name and press Enter" [(ngModel)]="nameFilter" type="text"
          minlength="3" (keyup.enter)="name.valid && nameFilterChanged()" #name="ngModel" class="search-input">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-input">
          <div *ngIf="name.errors.minlength">
            Name filter must be at least 3 characters long.
          </div>
        </div>

      </mat-form-field>

      <mat-form-field class="country-form-field">
        <mat-label class="search-label">Country</mat-label>
        <input matInput type="text" placeholder="Ex. Germany" class="country-input" [formControl]="countryControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let countryName of filteredCountryNames | async" [value]="countryName">
            {{ countryName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="age-group-form-field">
        <mat-label>Group</mat-label>
        <mat-select [formControl]="ageGroupControl">
          <mat-option>-- None --</mat-option>
          <mat-optgroup *ngFor="let ageGroupCategorie of ageGroupCategories" [label]="ageGroupCategorie.name">
            <mat-option *ngFor="let ageGroup of ageGroupCategorie.groups" [value]="ageGroup">
              {{ageGroup}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </form>

    <table #table mat-table [dataSource]="triscoreAthletes" id="score-table-id" class="score-table" matSort
      matSortActive="score" matSortDirection="desc" matSortDisableClear multiTemplateDataRows>
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>Rank</th>
        <td mat-cell *matCellDef="let athlete">
          {{athlete.i + ' (' + athlete.r + ')'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let athlete">
          <a [routerLink]="['/athlete', athlete.id]" class="invisible-link">
            <span [ngStyle]="getFirstLetterStyle(athlete.s)">{{athlete.n.substr(0, 1)}}</span><span
              [ngStyle]="getScoreStyle(athlete.s)">{{athlete.n.substr(1)}}</span><sup
              class="athlete-level-short">{{getScoreLevelShort(athlete.s)}}</sup>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let athlete">{{getCountryFlag(athlete.c)}}{{athlete.c}}</td>
      </ng-container>

      <ng-container matColumnDef="age-group">
        <th mat-header-cell *matHeaderCellDef>Group</th>
        <td mat-cell *matCellDef="let athlete">{{athlete.a}}</td>
      </ng-container>

      <ng-container matColumnDef="races">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Races</th>
        <td mat-cell *matCellDef="let athlete">{{athlete.p}}</td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Score</th>
        <td mat-cell *matCellDef="let athlete">{{athlete.s}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let athlete; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[20, 50, 100]" (page)="onPageEvent($event)">
  </mat-paginator>
</div>