<br>
<div class="new-athlete-container">
    <form class="new-athlete-form">
        <mat-form-field class="nickname-form-field">
            <mat-label class="nickname-label">Nickname</mat-label>
            <input matInput name="nickname" placeholder="Create your own nickname" type="text" minlength="3" class="nickname-input">
            <!--            <input matInput name="nickname" placeholder="Create your own nickname" [(ngModel)]="nickname" type="text"-->
<!--                   minlength="3" (change)="nickname.valid && onSubmit()" class="nickname-input">-->

            <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-input">
              <div *ngIf="name.errors.minlength">
                Nickname must be at least 3 characters long.
              </div>
            </div> -->
        </mat-form-field>
        <mat-form-field class="team-form-field">
            <mat-label class="team-label">Team</mat-label>
            <input matInput name="team" placeholder="Triathlon team you belong to" type="text" class="team-input">
        </mat-form-field>
        <mat-form-field class="country-form-field">
            <mat-label class="search-label">Country</mat-label>
            <input matInput type="text" placeholder="Ex. Germany" class="country-input" [formControl]="countryControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let countryName of filteredCountryNames | async" [value]="countryName">
                {{ countryName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        <button mat-raised-button>Connect with Strava</button>
    </form>
</div>

<!-- <form [formGroup]="newAthleteFrom" (ngSubmit)="onSubmit(newAthleteFrom.value)">
    <div>
      <label for="name">
        Nickname
      </label>
      <input id="name" type="text" formControlName="name">
      <input id="name" type="text" formControlName="name">
      <button class="button" type="submit">Connect with Strava</button>
    </div>
  </form> -->