table {
  width: 100%;
}

.athlete-details-container {
  margin: auto;
}

.athlete-details-section {
  margin: auto;
  padding-top: 10px;
}

.athlete-country-and-age-group {
  font-size: normal;
  font-weight: lighter;
}

.athlete-country-and-age-group p {
  margin: 0;
}

.athlete-score-plot {
  margin-left: 10%;
  width: 700px;
  height: 300px;
}

.tooltip-template {
  text-align: center;
  margin: 0;
  padding: 0;
}

.series-tooltip-template {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.athlete-races-table {
  margin: auto;
}

.mat-cell:first-of-type {
  padding-left: 16px;
}

.mat-header-cell:first-of-type {
  padding-left: 16px;
}

.mat-cell:last-of-type {
  padding-right: 16px;
  padding-left: 0px;
}

.mat-header-cell:last-of-type {
  padding-right: 16px;
  padding-left: 0px;
}

.mat-column-name {
  text-overflow: ellipsis;
}

.mat-column-size,
.mat-column-rank,
.mat-column-finish,
.mat-column-score,
.mat-column-level {
  text-align: center;
}

.mat-column-index {
  min-width: 30px;
  text-align: center;
}

.mat-column-age-group {
  min-width: 60px;
  text-align: center;
}

.mat-column-delta {
  min-width: 40px;
  text-align: center;
}

.score-increase {
  color: green;
}

.score-decrease {
  color: red;
}

.expanded-athlete-row td {
  border-bottom-width: 0;
}

.expanded-athlete-data {
  overflow: hidden;
  display: flex;
}

tr.expanded-athlete-detail {
  height: 0;
}

tr.expanded-athlete-row:not(.athlete-expanded-row):hover {
  background: whitesmoke;
}

tr.expanded-athlete-row:not(.athlete-expanded-row):active {
  background: #efefef;
}
