table {
  width: 100%;
}

.athlete-details-container {
  margin: auto;
}

.athlete-details-section {
  margin: auto;
  padding-top: 10px;
}

.athlete-country-and-age-group {
  font-size: normal;
  font-weight: lighter;
}

.athlete-country-and-age-group p {
  margin: 0;
}

.athlete-score-plot {
  margin-left: 10%;
  width: 700px;
  height: 300px;
}

.tooltip-template {
  text-align: center;
  margin: 0;
  padding: 0;
}

.series-tooltip-template {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.athlete-races-container {
  margin: auto;
}

.mat-cell:first-of-type {
  padding-left: 16px;
}

.mat-header-cell:first-of-type {
  padding-left: 16px;
}

.mat-cell:last-of-type {
  padding-left: 16px;
}

.mat-header-cell:last-of-type {
  padding-left: 16px;
}

.mat-column-size,
.mat-column-rank,
.mat-column-finish,
.mat-column-score,
.mat-column-level {
  text-align: center;
}

.mat-column-index {
  min-width: 30px;
  text-align: center;
}

.mat-column-age-group {
  min-width: 50px;
  text-align: center;
}

.mat-column-delta {
  min-width: 40px;
  text-align: center;
}

.score-increase {
  color: green;
}

.score-decrease {
  color: red;
}

.expanded-athlete-row td {
  border-bottom-width: 0;
}

.expanded-athlete-detail {
  overflow: hidden;
  display: flex;
}

tr.athlete-expanded-detail-row {
  height: 0;
}

tr.expanded-athlete-row:not(.athlete-expanded-row):hover {
  background: whitesmoke;
}

tr.expanded-athlete-row:not(.athlete-expanded-row):active {
  background: #efefef;
}

.result-legs {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.result-legs tr {
  border: solid;
  border-width: 1px 0;
  border-color: lightgray;
}

.result-legs td, .result-legs th {
  padding: 0.4em;
  font-size: medium;
  text-align: center;
  overflow: hidden;
}

.leg-rank {
  height: 18px;
  width: 80%;
  margin: 0px auto 4px;
}

.of-leg-rank {
  font-weight: lighter;
  font-size: 0.75em;
  height: 11px;
  color: #7c807bd9;
  margin: 0px auto;
}