.athlete-details-container {
  position: relative;
  overflow: auto;
}

.athlete-details-section {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.athlete-details-summary {
  width: 30%;
  margin-left: 10%;
  padding-top: 11%;
  position: relative;
  float: left;
}

.athlete-details-summary h2 {
  margin: 0;
}

.athlete-level-short-head {
  position: relative;
  font-size: small;
  font-weight: 100;
}

.athlete-country-and-age-group {
  font-size: normal;
  font-weight: lighter;
}

.athlete-country-and-age-group p {
  margin: 0;
}

.athlete-details-gauge {
  margin-left: 40%;
  padding-top: 4%;
  width: 360px;
}

.athlete-details-race-stats {
  margin-left: -24%;
  height: 60px;
  width: 250px;
}

.athlete-details-plot {
  margin-left: 5%;
}

.tooltip-template {
  text-align: center;
  margin: 0;
  padding: 0;
}

.series-tooltip-template {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.athlete-history-table {
  text-align: left;
  width: 100%;
}

.athlete-history-table tr:nth-child(2n+1) {
  background: #e8eaeb;
}

.athlete-history-table th {
  background: #bfc2c4;
}

.athlete-history-table td, .athlete-history-table th {
  border-width: 0px;
  padding: 0.4em;
  font-size: 0.8em;
  text-align: left;
  overflow: hidden;
}

.score-increase {
  color: green;
}

.score-decrease {
  color: red;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.athlete-races-section {}

.mat-column-date {
  width: 100px;
  overflow: auto;
}

.mat-column-race {
  width: 226px;
  overflow: auto;
}

.mat-column-level {
  width: 90px;
}

.mat-column-type, .mat-column-size, .mat-column-time_rank, .mat-column-seed {
  max-width: 30px;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.total-detail {
  height: 18px;
  width: 80%;
  margin: 0px auto 4px;
}

.of-total-detail {
  font-weight: lighter;
  font-size: 0.75em;
  height: 11px;
  color: #7c807bd9;
  margin: 0px auto;
}

.race-result-detail {
  text-align: center;
  width: 100%;
}

.race-result-detail tr {
  border-bottom: 1px solid gray;
}

.race-result-detail td, .race-result-detail th {
  padding: 0.4em;
  font-size: medium;
  text-align: center;
  overflow: hidden;
}