@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  margin: auto;
}

.invisible-link {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}
