.top-bar-inner {
    /* min-width: 320px; */
    width: 900px;
    margin: auto;
    position: relative;
    display: flex;
}

.mat-toolbar {
    border-bottom: solid 2px #ca2100;
    transition: height 200ms ease-in;
    width: 920px;
    margin: auto;
    position: relative;
    display: flex;
}

.logo {
    font-size: 24px;
    border-radius: 6px;
    border-width: 1px;
    background-color: white;
    padding: 3px 10px;
    border: 2px solid #db4c3f;
}

.logo-letters {
    color: #db4c3f;
}

.fill-remaining-space {
    flex: 2 1 auto;
}

.toolbar-tab {
    padding: 0 10px;
    font-weight: lighter;
    font-size: 18px;
    color: white;
}

.mat-toolbar {
    width: 100vw;
    height: 45px;
    background-color: #db4c3f;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}