<mat-toolbar>
    <div class='top-bar-inner'>
        <button mat-button [routerLink]="['/']" class="logo" [routerLink]="'/'">
            <span class="logo-letters">///triscore</span>
        </button>
        <span class="fill-remaining-space"></span>
        <button mat-button class="toolbar-tab" [routerLink]="'/rating'">Rating</button>
        <button mat-button class="toolbar-tab" [routerLink]="'/races'">Races</button>
        <button mat-button class="toolbar-tab" [routerLink]="'/about'">About</button>
    </div>
</mat-toolbar>